
#arquivos{
    position: absolute;
    width: 20vh;
    height: 20vh;
    border-radius: 20vh;
    background-color: rgb(0, 70, 0);
    color: aliceblue;
    border: 2vh solid aliceblue;
    top: 20vh;
    right: 20vw;
    align-items: center;
    justify-content: center;
    cursor: default;
    font-size: 30vh;
    display: flex;
}

#arquivos:hover{
    background-color: green;
}
#logo{
    position: absolute;
    width: 50vw;
    height: 30vw;
    top: 15vh;
    left: 25vw;

}
#load{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    animation: girar 1s infinite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid aliceblue;
    background-color: green;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    display: none;
}
@keyframes girar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);

    }
}
#search_form>input{
    width: 50vw;
    height: 5vh;
    top:60vh;
    left: 25vw;
}
#search_form>button{
    width: 10vw;
    height: 5vh;
    top: 60vh;
    left: 76vw;
}
.corpus_len{
    position: absolute;
    top: 25vh;
    left: 30vw;
    color: rgb(0, 70, 0);
    font-size: 5vh;
    

}
